#NÃO ALTERAR
ESLINT_NO_DEV_ERRORS=true
SKIP_PREFLIGHT_CHECK=true

#COMUNICAÇÃO COM A API
REACT_APP_HOSTNAME=localhost
REACT_APP_BACKEND_PORT=3001

antigo dotenv
ESLINT_NO_DEV_ERRORS=true
SKIP_PREFLIGHT_CHECK=true

WDS_SOCKET_PORT=0
# REACT_APP_BASE_URL=http://appback.up.railway.app
