body {
  margin: 0;
  font-family: 'Roboto', 'Ubuntu', sans-serif;
}

/* * {
  border: 2px solid red;
} */

root {
  margin: 0;
  padding:0;
  width: 100%;
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
